body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 1.6;
	background-color: cyan;
}

.button {
	/* Position the button in the middle of the page */
	/* position: absolute;
	    top: 50%; */
	background: coral;
	padding: 1em 2em;
	color: #fff;
	border: 0;
	font-style: italic;
	font-size: 0.875em;
}

.centerButton {
	text-align: center;
}

.button:hover {
	background: #333;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #f4f4f4;
	margin: 10% auto;
	width: 50%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
	animation-name: modalopen;
	animation-duration: 1s;
}

.modal-header h2,.modal-footer h3 {
	margin: 0;
}

.modal-body {
	padding: 10px 20px;
}

.modal-footer {
	background: coral;
	padding: 10px;
	color: #fff;
	text-align: center;
}

.modal-header {
	background: coral;
	padding: 15px;
	color: #fff;
}

.closeBtn {
	color: #fff;
	float: right;
	font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen {
	from{opacity: 0}
	to{opacity: 1}
}